<div class="main-box">

    <h1>Podgląd grobów</h1>

    <div class="grave-list">

        <div class="grave" [ngClass]="e? 'grave1' : 'grave2'" *ngFor="let grave of grave_list; let e=even; let o=odd;" >
            <p><b>ID:</b> {{grave.graveId}}</p>
            <!--<p>{{e ? "even" : "odd"}}</p>-->
            <p><b>x:</b> {{grave.x}}</p>
            <p><b>y:</b> {{grave.y}}</p>
            <p><b>Stan:</b> {{grave.status == '1' ? "Opłacony" : "Nieopłacony"}}</p>
            <p><b>Ważność:</b><br>{{grave.validUntil | date: 'MM/dd/yyyy'}}</p>
            <p><button>Pochowani</button></p>
        </div>

    </div>

</div>
