<section>
    <div class="upper-navbar">
        <button (click)="showAddBurried()">Dodawanie</button>
        <button (click)="showEditBurried()">Edytowanie</button>
        <button (click)="showDeleteBurried()">Usuwanie</button>
        <button (click)="showAssignBurried()">Przypisanie do grobu</button>
        <button (click)="showUnassignBurried()">Wypisanie z grobu</button>
    </div>
    <div class="form-space" [ngSwitch]="pageToShowBurried">

    <div class="form-box" *ngSwitchCase="0">
        <h2>Dodaj pochowanego</h2>
        <div class="form-value">
    
            <form (ngSubmit)="addBurried()">
    
            <div class="inputbox">
                <input type="text" id="burriedName" [(ngModel)]="name" name="burriedName" required>
                <label for="burriedName">Imię</label>
            </div>
            <div class="inputbox">
                <input type="text" id="burriedLastname" [(ngModel)]="lastname" name="burriedLastname" required>
                <label for="burriedLastname">Nazwisko</label>
            </div>
            <div class="inputboxDate">
                <input type="date" id="birthdate" [(ngModel)]="birthdate" name="birthdate" required>
                <label for="birthdate">Data urodzenia</label>
            </div>
            <div class="inputboxDate">

                <input type="date" id="deathdate" [(ngModel)]="deathdate" name="deathdate" required>
                <label for="deathdate">Data śmierci</label>
            </div>
            <div class="inputboxDate">
                <input type="datetime-local" id="burialDate" [(ngModel)]="burialDate" name="burialDate" required>
                <label for="burialDate">Data pochówku</label>
            </div>
            <button type="submit">Dodaj</button>
            </form>
    
        </div>
    </div>
    <div class="form-box" *ngSwitchCase="1">
        <h2>Edytuj pochowanego</h2>
        <div class="form-value">
            <div class="burried-list">
                <div class="burriedChoice" *ngFor="let burried of burried_list;let i=index;">
                    <input id="input{{i}}" type="radio" (click)="insertDataToEdit(i)" [(ngModel)]="selectedBurriedToEdit" [ngModelOptions]="{standalone: true}" value="{{i}}">
                    <label for="input{{i}}">{{"Nr"+burried.burriedId+": "+burried.name+" "+burried.lastname}}</label>
                 </div>
                </div>
            <form (ngSubmit)="editBurried()">
                
            <!--<div class="inputbox">
                <input type="number" id="burriedID" [(ngModel)]="editedBurriedID" name="burriedID" required>
                <label for="burriedID">ID pochowanego</label>
            </div> -->
            <div class="inputbox">
                <input type="text" id="burriedName" [(ngModel)]="editedName" name="burriedName" required>
                <label for="burriedName">Nowe Imię</label>
            </div>
    
            <div class="inputbox">
                <input type="text" id="burriedLastname" [(ngModel)]="editedLastname" name="burriedLastname" required>
                <label for="burriedLastname">Nowe nazwisko</label>
            </div>
            <div class="inputboxDate">
                <input type="date" id="birthdate" [(ngModel)]="editedBirthdate" name="birthdate" required>
                <label for="birthdate">Nowa data urodzenia</label>
            </div>
            <div class="inputboxDate">

                <input type="date" id="deathdate" [(ngModel)]="editedDeathdate" name="deathdate" required>
                <label for="deathdate">Nowa data śmierci</label>
            </div>
            <div class="inputboxDate">
                <input type="datetime-local" id="burialDate" [(ngModel)]="editedBurialDate" name="burialDate" required>
                <label for="burialDate">Nowa data pochówku</label>
            </div>
            <button type="submit">Zmień</button>
            </form>
    
        </div>
    </div>
    
    <div class="form-box" *ngSwitchCase="2">
        <h2>Usuń pogrzebanego (po ID)</h2>
        <div class="form-value">
    
            <form (ngSubmit)="deleteBurried()">
                <div class="gravediggerChoice" *ngFor="let burried of burried_list;let i=index;">
                   <input id="input{{i}}" type="radio" [(ngModel)]="selectedBurriedToDelete" [ngModelOptions]="{standalone: true}" value="{{i}}">
                   <label for="input{{i}}">{{"Nr"+burried.burriedId+": "+burried.name+" "+burried.lastname}}</label>
                </div>
          <!--<div class="inputbox">
                <input type="number" id="burriedID" [(ngModel)]="deletedBurriedID" name="burriedID" required>
                <label for="burriedID">ID pochowanego</label>
            </div>-->  
            <button type="submit">Usuń</button>
            </form>
    
        </div>
    </div>
    <div class="form-box" *ngSwitchCase="3">
        <h2>Przypisz pochowanego do grobu (potrzebne ID pochowanego, grobu i grabarza)</h2>
        <div class="form-value">
    
            <form (ngSubmit)="assignBurriedToGrave()">
    
            <div class="inputbox">
                <input type="number" id="burriedID" [(ngModel)]="assignedBurriedID" name="burriedID" required>
                <label for="burriedID">ID pochowanego</label>
            </div>
    
            <div class="inputbox">
                <input type="number" id="graveID" [(ngModel)]="assignedGraveID" name="graveID" required>
                <label for="graveID">ID grobu</label>
            </div>
            <div class="inputbox">
                <input type="number" id="gravediggerID" [(ngModel)]="assignedGravediggerID" name="gravediggerID" required>
                <label for="gravediggerID">ID grabarza</label>
            </div>
            <button type="submit">Dodaj</button>
            </form>
    
        </div>
    </div>
    
    <div class="form-box" *ngSwitchCase="4">
        <h2>Wypisz pochowanego z grobu (potrzebne ID grobu i pochowanego)</h2>
        <div class="form-value">
    
            <form (ngSubmit)="unassignBurriedToGrave()">
    
            <div class="inputbox">
                <input type="number" id="burriedID" [(ngModel)]="unassignedBurriedID" name="burriedID" required>
                <label for="burriedID">ID pochowanego</label>
            </div>
    
            <div class="inputbox">
                <input type="number" id="graveID" [(ngModel)]="unassignedGraveID" name="graveID" required>
                <label for="graveID">ID grobu</label>
            </div>
            <button type="submit">Wypisz</button>
            </form>
    
        </div>
    </div>
    </div>
</section>