<section>
    <h2>Dodaj pochowanego</h2>
    <div class="form-box">
        <div class="form-value">
    
            <form (ngSubmit)="addBurried()">
    
            <div class="inputbox">
                <input type="text" id="burriedName" [(ngModel)]="name" name="burriedName" required>
                <label for="burriedName">Imię</label>
            </div>
    
            <div class="inputbox">

                <input type="text" id="burriedLastname" [(ngModel)]="lastname" name="burriedLastname" required>
                <label for="burriedLastname">Nazwisko</label>
            </div>
            <div class="inputboxDate">
                <input type="date" id="birthdate" [(ngModel)]="birthdate" name="birthdate" required>
                <label for="birthdate">Data urodzenia</label>
            </div>
            <div class="inputboxDate">

                <input type="date" id="deathdate" [(ngModel)]="deathdate" name="deathdate" required>
                <label for="deathdate">Data śmierci</label>
            </div>
            <button type="submit">Dodaj</button>
            </form>
    
        </div>
    </div>
    <hr/>
    <h2>Przypisz pochowanego do grobu (potrzebne ID pochowanego, grobu i grabarza)</h2>
    <div class="form-box">
        <div class="form-value">
    
            <form (ngSubmit)="assignBurriedToGrave()">
    
            <div class="inputbox">
                <input type="number" id="burriedID" [(ngModel)]="burriedID" name="burriedID" required>
                <label for="burriedID">ID pochowanego</label>
            </div>
    
            <div class="inputbox">
                <input type="number" id="graveID" [(ngModel)]="graveID" name="graveID" required>
                <label for="graveID">ID grobu</label>
            </div>
            <div class="inputbox">
                <input type="number" id="gravediggerID" [(ngModel)]="gravediggerID" name="gravediggerID" required>
                <label for="gravediggerID">ID grabarza</label>
            </div>
            <button type="submit">Dodaj</button>
            </form>
    
        </div>
    </div>
    <hr/>
    <h2>Usuń pogrzebanego (po ID)</h2>
    <div class="form-box">
        <div class="form-value">
    
            <form (ngSubmit)="deleteBurried()">
    
            <div class="inputbox">
                <input type="number" id="burriedID" [(ngModel)]="deletedBurriedID" name="burriedID" required>
                <label for="burriedID">ID pochowanego</label>
            </div>
            <button type="submit">Usuń</button>
            </form>
    
        </div>
    </div>
    <hr/>
    <h2>Wypisz pochowanego z grobu (potrzebne ID grobu i pochowanego)</h2>
    <div class="form-box">
        <div class="form-value">
    
            <form (ngSubmit)="unassignBurriedToGrave()">
    
            <div class="inputbox">
                <input type="number" id="burriedID" [(ngModel)]="unassignedBurriedID" name="burriedID" required>
                <label for="burriedID">ID pochowanego</label>
            </div>
    
            <div class="inputbox">
                <input type="number" id="graveID" [(ngModel)]="unassignedGraveID" name="graveID" required>
                <label for="graveID">ID grobu</label>
            </div>
            <button type="submit">Wypisz</button>
            </form>
    
        </div>
    </div>
</section>