<section>
    <div class="upper-navbar">
        <button (click)="showAddBurried()">Dodawanie</button>
        <button (click)="showEditBurried()">Edytowanie</button>
        <button (click)="showDeleteBurried()">Usuwanie</button>
        <button (click)="showAssignBurried()">Przypisanie do grobu</button>
        <button (click)="showUnassignBurried()">Wypisanie z grobu</button>
    </div>
    <div class="form-space" [ngSwitch]="pageToShowBurried">

    <div class="form-box" *ngSwitchCase="0">
        <h2>Dodaj pochowanego</h2>
        <div class="form-value">
    
            <form (ngSubmit)="addBurried()">
    
            <div class="inputbox">
                <input type="text" id="burriedName" [(ngModel)]="name" name="burriedName" required>
                <label for="burriedName">Imię</label>
            </div>
            <div class="inputbox">
                <input type="text" id="burriedLastname" [(ngModel)]="lastname" name="burriedLastname" required>
                <label for="burriedLastname">Nazwisko</label>
            </div>
            <div class="inputboxDate">
                <input type="date" id="birthdate" [(ngModel)]="birthdate" name="birthdate" required>
                <label for="birthdate">Data urodzenia</label>
            </div>
            <div class="inputboxDate">

                <input type="date" id="deathdate" [(ngModel)]="deathdate" name="deathdate" required>
                <label for="deathdate">Data śmierci</label>
            </div>
            <div class="inputboxDate">
                <input type="datetime-local" id="burialDate" [(ngModel)]="burialDate" name="burialDate" required>
                <label for="burialDate">Data pochówku</label>
            </div>
            <button type="submit">Dodaj</button>
            </form>
    
        </div>
    </div>
    <div class="form-box" *ngSwitchCase="1">
        <h2>Edytuj pochowanego</h2>
        <div class="form-value">
            <div class="burried-list">
                <div class="burriedChoice" *ngFor="let burried of burried_list;let i=index;">
                    <input id="input{{i}}" type="radio" (click)="insertDataToEdit(i)" [(ngModel)]="selectedBurriedToEdit" [ngModelOptions]="{standalone: true}" value="{{i}}">
                    <label for="input{{i}}">{{"Nr"+burried.burriedId+": "+burried.name+" "+burried.lastname}}</label>
                 </div>
                </div>
            <form (ngSubmit)="editBurried()">
                
            <!--<div class="inputbox">
                <input type="number" id="burriedID" [(ngModel)]="editedBurriedID" name="burriedID" required>
                <label for="burriedID">ID pochowanego</label>
            </div> -->
            <div class="inputbox">
                <input type="text" id="burriedName" [(ngModel)]="editedName" name="burriedName" required>
                <label for="burriedName">Nowe Imię</label>
            </div>
    
            <div class="inputbox">
                <input type="text" id="burriedLastname" [(ngModel)]="editedLastname" name="burriedLastname" required>
                <label for="burriedLastname">Nowe nazwisko</label>
            </div>
            <div class="inputboxDate">
                <input type="date" id="birthdate" [(ngModel)]="editedBirthdate" name="birthdate" required>
                <label for="birthdate">Nowa data urodzenia</label>
            </div>
            <div class="inputboxDate">

                <input type="date" id="deathdate" [(ngModel)]="editedDeathdate" name="deathdate" required>
                <label for="deathdate">Nowa data śmierci</label>
            </div>
            <div class="inputboxDate">
                <input type="datetime-local" id="burialDate" [(ngModel)]="editedBurialDate" name="burialDate" required>
                <label for="burialDate">Nowa data pochówku</label>
            </div>
            <button type="submit">Zmień</button>
            </form>
    
        </div>
    </div>
    
    <div class="form-box" *ngSwitchCase="2">
        <h2>Usuń pogrzebanego (po ID)</h2>
        <div class="form-value">
    
            <form (ngSubmit)="deleteBurried()">
                <div class="burriedChoice" *ngFor="let burried of burried_list;let i=index;">
                   <input id="input{{i}}" type="radio" [(ngModel)]="selectedBurriedToDelete" [ngModelOptions]="{standalone: true}" value="{{i}}">
                   <label for="input{{i}}">{{"Nr"+burried.burriedId+": "+burried.name+" "+burried.lastname}}</label>
                </div>
          <!--<div class="inputbox">
                <input type="number" id="burriedID" [(ngModel)]="deletedBurriedID" name="burriedID" required>
                <label for="burriedID">ID pochowanego</label>
            </div>-->  
            <button type="submit">Usuń</button>
            </form>
    
        </div>
    </div>
    <div class="form-box" *ngSwitchCase="3">
        <h2>Przypisz pochowanego do grobu (potrzebne ID pochowanego, grobu i grabarza)</h2>
        <div class="form-value">
    
            <form (ngSubmit)="assignBurriedToGrave()">
                <h3>1. Wybierz zmarłego</h3>
                <div class="burried-list"*ngIf="assigningPart==1">
                    <div class="burriedChoice" *ngFor="let burried of burried_list;let i=index;">
                        <input id="input{{i}}" type="radio" (click)="test(i)" [(ngModel)]="selectedBurriedToAssign" [ngModelOptions]="{standalone: true}" value="{{i}}">
                        <label for="input{{i}}">{{"Nr"+burried.burriedId+": "+burried.name+" "+burried.lastname}}</label>
                     </div>
                     <button (click)="changeAssigningPart()">Wybierz</button>
                </div>
                <h3>2. Wybierz grób</h3>
                <div class="grave-list" *ngIf="assigningPart==2">
                    <div class="graveChoice" *ngFor="let grave of grave_list;let j=index;">
                        <input id="input{{j}}" type="radio" (click)="test(j)" [(ngModel)]="selectedGraveToAssign" [ngModelOptions]="{standalone: true}" value="{{j}}">
                        <label for="input{{j}}">{{"Nr"+grave.graveId+": X="+grave.x+" Y="+grave.y}}</label>
                     </div>
                     <button (click)="changeAssigningPart()">Wybierz</button>
                </div>
                <h3>3. Wybierz grabarza</h3>
                <div class="gravedigger-list" *ngIf="assigningPart==3">
                    <div class="gravediggerChoice" *ngFor="let gravedigger of gravedigger_list;let k=index;">
                        <input id="input{{k}}" type="radio" (click)="test(k)" [(ngModel)]="selectedGravediggerToAssign" [ngModelOptions]="{standalone: true}" value="{{k}}">
                        <label for="input{{k}}">{{"Nr"+gravedigger.gravediggerId+": "+gravedigger.firstName+" "+gravedigger.lastName}}</label>
                     </div>
                </div>
            <!--<div class="inputbox">
                <input type="number" id="burriedID" [(ngModel)]="assignedBurriedID" name="burriedID" required>
                <label for="burriedID">ID pochowanego</label>
            </div>
    
            <div class="inputbox">
                <input type="number" id="graveID" [(ngModel)]="assignedGraveID" name="graveID" required>
                <label for="graveID">ID grobu</label>
            </div>
            <div class="inputbox">
                <input type="number" id="gravediggerID" [(ngModel)]="assignedGravediggerID" name="gravediggerID" required>
                <label for="gravediggerID">ID grabarza</label>
            </div>-->
            <button *ngIf="assigningPart==3" type="submit">Przypisz</button>
            </form>
    
        </div>
    </div>
    
    <div class="form-box" *ngSwitchCase="4">
        <h2>Wypisz pochowanego z grobu (potrzebne ID grobu i pochowanego)</h2>
        <div class="form-value">
    
            <form (ngSubmit)="unassignBurriedToGrave()">
                <h3>1. Wybierz grób</h3>
                <div class="grave-list" *ngIf="unassigningPart==1">
                    <div class="graveChoice" *ngFor="let grave of grave_list;let j=index;">
                        <input id="input{{j}}" type="radio" (click)="test(j)" [(ngModel)]="selectedGraveToUnassign" [ngModelOptions]="{standalone: true}" value="{{j}}">
                        <label for="input{{j}}">{{"Nr"+grave.graveId+": X="+grave.x+" Y="+grave.y}}</label>
                    </div>
                    <button (click)="changeUnassigningPart()">Wybierz</button>
                </div>
                <h3>2. Wybierz zmarłego do wyciągnięcia</h3>
                <div class="burried-unassign-list" *ngIf="unassigningPart==2">
                    <div class="graveChoice" *ngFor="let b of listFromGrave;let j=index;">
                        <input id="input{{j}}" type="radio" (click)="test(j)" [(ngModel)]="selectedBurriedToUnassign" [ngModelOptions]="{standalone: true}" value="{{j}}">
                        <label for="input{{j}}">{{"Nr"+b.burriedId+": "+b.name+" "+b.lastname}}</label>
                    </div>
                    <button type="submit">Wypisz</button>
                </div>
    <!--    
            <div class="inputbox">
                <input type="number" id="burriedID" [(ngModel)]="unassignedBurriedID" name="burriedID" required>
                <label for="burriedID">ID pochowanego</label>
            </div>
    
            <div class="inputbox">
                <input type="number" id="graveID" [(ngModel)]="unassignedGraveID" name="graveID" required>
                <label for="graveID">ID grobu</label>
            </div>
            -->

            </form>
    
        </div>
    </div>
    </div>
</section>