<div class="main_box">
    <h2>E - Graveyard</h2>

    <div class="option_button">
        <button>Podgląd grobów</button>
    </div>

    <div class="option_button">
        <button>Sklep online</button>
    </div>

    <div class="option_button">
        <button>Dodaj zmarłego</button>
    </div>

    <div class="option_button">
        <button>Dodaj grób</button>
    </div>

    <section class="bottom_panel">

        <div class="option_button delete_button">
            <button>Usuń konto</button>
        </div>

        <div class="creators">
            <fa-icon class="logo" icon="church"></fa-icon>
        </div>

    </section>
</div>
