
<div [hidden]="hide_login_panel">
    
    <div class="login_button">
        <button (click)="toggleLoginPanel()">Powrót</button>
    </div>
    
    <grv-login [hidden]="switch_login"></grv-login>
    <grv-register [hidden]="!switch_login"></grv-register>
</div>


<div [hidden]="!hide_login_panel" [ngSwitch]="role">

  <div *ngSwitchCase="0">

    <div class="user" class="login_button">
        <button (click)="logout()">Wyloguj</button>
    </div>

      Welcome logged user!
  </div>

  <div class="admin" *ngSwitchCase="1">

    <div class="login_button">
        <button (click)="logout()">Wyloguj</button>
    </div>

      Welocme admin!
  </div>

  <div class="default" *ngSwitchDefault>

    <div class="login_button">
        <button (click)="toggleLoginPanel()">Zaloguj</button>
    </div>

        Welcome user!
  </div>

</div>