<section *ngIf="showComponent">
    <div class="upper-navbar">
        <button (click)="showAddGrave()">Dodawanie</button>
        <button (click)="showEditGrave()">Edytowanie</button>
        <button (click)="showDeleteGrave()">Usuwanie</button>
    </div>
    <div class="form-space" [ngSwitch]="pageToShowGraves">
    <div class="form-box addGrave" *ngSwitchCase="0">
        <h2>Dodaj grób</h2>
        <div class="form-value">

            <form (ngSubmit)="addGrave()">

                <div class="inputbox">
                    <input type="text" min="1" id="graveX" [(ngModel)]="x" name="graveX" required>
                    <label for="graveX">Współrzędna X</label>
                </div>

                <div class="inputbox">
                    <input type="text" min="1" id="graveY" [(ngModel)]="y" name="graveY" required>
                    <label for="graveY">Współrzędna Y</label>
                </div>

                <button type="submit">Dodaj grób</button>
            </form>

        </div>
    </div>
    <div class="form-box editGrave" *ngSwitchCase="1">
        <h2>Edytuj grób</h2>
        <div class="form-value">
            <form (ngSubmit)="editGrave()">

                <div class="grave-list">
                    <div class="graveChoice" *ngFor="let grave of grave_list;let i=index;">
                        <input id="input{{i}}" type="radio" (click)="insertDataToEdit(i)" [(ngModel)]="selectedGraveToEdit" [ngModelOptions]="{standalone: true}" value="{{i}}">
                        <label for="input{{i}}">{{"Nr: "+grave.graveId+": x: "+grave.x+" y: "+grave.y}} {{grave.status == '1' ? "1 (Opłacony)" : "0 (Nieopłacony)"}} {{grave.validUntil | date: 'MM/dd/yyyy'}}</label>
                    </div>
                </div>  

                <div class="inputbox">
                    <input type="text"id="editedGraveX" [(ngModel)]="editedGrave.x" name="editedGraveX" required>
                    <label for="editedGraveX">Nowa współrzędna X
                    </label>
                </div>
    
                <div class="inputbox">
                    <input type="text"  id="editedGraveY" [(ngModel)]="editedGrave.y" name="editedGraveY" required>
                    <label for="editedGraveY">Nowa współrzędna Y</label>
                </div>

                <button type="submit">Zmodyfikuj grób</button>
            </form>
            </div>
    </div>
    <div class="form-box deleteGrave" *ngSwitchCase="2">
        <h2>Usuń grób</h2>
        <div class="form-value">

            <form #myForm="ngForm" (ngSubmit)="deleteGravePlus(myForm)">
                <div class="grave-list">
                    <div class="graveChoice" *ngFor="let grave of grave_list;let i=index;">
                        <input id="input{{i}}" type="radio" (click)="insertDataToEdit(i)" [(ngModel)]="selectedGraveToDelete" [ngModelOptions]="{standalone: true}" value="{{i}}">
                        <label for="input{{i}}">{{"Nr: "+grave.graveId+": x: "+grave.x+" y: "+grave.y}} {{grave.status == '1' ? "1 (Opłacony)" : "0 (Nieopłacony)"}} {{grave.validUntil | date: 'MM/dd/yyyy'}}</label>
                    </div>
                </div>
                <button type="submit">Usuń grób</button>
            </form>

        </div>
    </div>
    </div>
</section>