<section>
    <div class="upper-navbar">
        <button (click)="showAddGrave()">Dodawanie</button>
        <button (click)="showEditGrave()">Edytowanie</button>
        <button (click)="showDeleteGrave()">Usuwanie</button>
        </div>
    <div class="form-space" [ngSwitch]="pageToShowGraves">
    <div class="form-box-addGrave" *ngSwitchCase="0">
        <h2>Dodaj grób</h2>
        <div class="form-value">

            <form (ngSubmit)="addGrave()">

                <div class="inputbox">
                    <i class="fa-solid fa-x"></i>
                    <input type="number" min="1" id="graveX" [(ngModel)]="x" name="graveX" required>
                    <label for="graveX">Współrzędna X</label>
                </div>

                <div class="inputbox">
                    <i class="fa-solid fa-y"></i>
                    <input type="number" min="1" id="graveY" [(ngModel)]="y" name="graveY" required>
                    <label for="graveY">Współrzędna Y</label>
                </div>

                <button type="submit">Dodaj grób</button>
            </form>

        </div>
    </div>
    <div class="form-box-editGrave" *ngSwitchCase="1">
        <h2>Edytuj grób</h2>
        <div class="form-value">
            <form (ngSubmit)="editGrave()">
            <div class="inputbox">
                <input type="number" min="1" id="editedGraveID" [(ngModel)]="editedGraveID" name="editedGraveID"
                            required>
                <label for="editedGraveID">ID grobu</label>
            </div>    
                <div class="inputbox">
                    <input type="text"id="editedGraveX" [(ngModel)]="editedX" name="editedGraveX" required>
                    <label for="editedGraveX">Nowa współrzędna X
                    </label>
                </div>
    
                <div class="inputbox">
                    <input type="text"  id="editedGraveY" [(ngModel)]="editedY" name="editedGraveY" required>
                    <label for="editedGraveY">Nowa współrzędna Y</label>
                </div>
                <button type="submit">Zmodyfikuj grób</button>
            </form>
            </div>
    </div>
    <div class="form-box-deleteGrave" *ngSwitchCase="2">
        <h2>Usuń grób</h2>
        <div class="form-value">

            <form (ngSubmit)="deleteGrave()">

                <div class="inputbox">
                    <input type="number" min="1" id="deletedGraveID" [(ngModel)]="deletedGraveID" name="deletedGraveID"
                        required>
                    <label for="deletedGraveID">ID grobu</label>
                </div>
                <button type="submit">Usuń grób</button>
            </form>

        </div>
    </div>
    </div>
</section>