<section>
    <h2>E - Graveyard</h2>
    <fa-icon class="logo" icon="church"></fa-icon>
    <div class="form-box">
        <div class="form-value">
    
            <form (ngSubmit)="register()">
            <h2>Rejstracja</h2>
    
            <div class="inputbox">
                <fa-icon icon="envelope"></fa-icon>
                <input type="text" id="email" [(ngModel)]="email" name="email" required>
                <label for="email">Email</label>
            </div>
    
            <div class="inputbox">
                <fa-icon icon="lock"></fa-icon>
                <input type="password" id="password" [(ngModel)]="password" name="password" required>
                <label for="password">Hasło</label>
            </div>

            <div class="inputbox">
                <fa-icon icon="user"></fa-icon>
                <input type="text" id="firstname" [(ngModel)]="firstname" name="firstname" required>
                <label for="firstname">Imię</label>
            </div>

            <div class="inputbox">
                <fa-icon icon="user"></fa-icon>
                <input type="text" id="lastname" [(ngModel)]="lastname" name="lastname" required>
                <label for="lastname">Nazwisko</label>
            </div>
    
            <button type="submit">Utwórz konto</button>
    
            <div class="register">
                <button (click)="switchLoginRegister()">Zaloguj się</button>
            </div>
    
            </form>
    
        </div>
    </div>
</section>